@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Task Completed by Masum Kazi</a>.</p>
    <p>Email: contact.masumkazi@gmail.com</a>.</p>
    <p>Mobile: 01645119083</a>.</p>
</div>
